<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.thefirst">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/socialist"
        android:label="社会主义核心价值观"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.thefirst.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Collection.CollectionAdviceActivity"
            android:label="搭配建议" />
        <activity
            android:name=".Classification.ClassificationActivity"
            android:label="" />
        <activity android:name=".Collection.AdviceDetailActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".TimeLineActivity" />
        <activity android:name=".DisplayActivity"/>
        <activity android:name=".SearchResultActivity"/>
        <activity
            android:name=".NewCamera"
            android:label="" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".NotificationActivity"></activity>
    </application>

</manifest>